body {
  background: grey;
}

.wrapper {
  max-width: 1400px;
  margin: 30px auto;
  box-sizing: border-box;
  background: whitesmoke;
  color: #1a1b1b;
  display: flex;
}

.fill {
  padding: 15px;
}

.main {
  flex: 3;
  order: 2;
}

.side-right {
  flex: 1;
  order: 3
}

.side-left {
  flex: 1;
  order: 1;
}

.call-outs-container {
  max-width: 1400px;
  margin: 30px auto;
}

@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
  }
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 32%;
}

.call-out:nth-child(1) {
  background-color: #c0dbe2;
}

.call-out:nth-child(2) {
  background-color: #cdf1c3;
}

.call-out:nth-child(3) {
  background-color: #ccb9da;
}

.fixed-tile-container {
  max-width: 1400px;
  box-sizing: border-box;
  margin: 30px auto;
  background-color: #a7a2a2;
  padding: 0px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tile {
  width: 200px;
  height: 200px;
  margin: 15px 0;
  background: whitesmoke;
  color: #1a1b1b;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  transition: .2s ease;
}

.tile-back {
  display: inline-block;
}

.tile:hover {
  transform: scale(1.06);
}

.banner {
  max-width: 1400px;
  box-sizing: border-box;
  margin: 30px auto;
  height: 400px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-item {
  color: #a7a2a2;
  font-size: 50px;
  /* margin: auto; */
}

.equal-height-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.first {
  background-color: #e7e2e2;
  padding: 20px;
  flex: 1;
}

.second {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

.second-a {
  padding: 10px;
  background-color: #c0dbe2;
  flex: 1;
}

.second-b {
  padding: 10px;
  background-color: #cdf1c3;
  flex: 1;
}