@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 0 20px;
}

.signup {
  margin-left: auto;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe,
.social {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
  justify-self: flex-start;
}

.first-item {
  order: 1;
}

.second-item {
  order: 2;
}

.last-item {
  order: -1;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}