@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&display=swap');

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #1a1b1b;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.sm-only {
  display: none;
}

.hide-element {
  display: none !important;
}

.no-cursor {
  cursor: initial !important;
}

.show-pointer {
  cursor: pointer !important;
}

.head-img {
  height: 18px;
}

.text-bold {
  font-weight: 600;
}

.profile-action {
  flex: 1;
  font-weight: 600;
  font-size: .9em;
  cursor: pointer;
}

.profile-action .icon {
  margin-left: 10px;
}

.text-small {
  font-size: 0.70em;
}

.log-out-btn {
  margin: 15px 20px;
  border: 1px solid #2D021F;
  height: 7%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D021F;
  cursor: pointer;
}

.logout-icon {
  flex-basis: 5%;
}


/* Common Style Ends*/

/* Nav bar*/
.nav-bar {
  height: 10vh;
  background-color: #2D021F;
  display: flex;
  align-items: center;
  color: #C7A672;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.hamburger {
  display: none;
  flex-basis: 8%;
}

.menu-icon {
  width: 25px;
  height: 28px;
  margin: 5px;
}

.logo {
  flex-basis: 15%;
  height: 100%;
  display: flex;
  padding: 0px 5px 0 15px;
  align-items: center;
}

.nav-search {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  height: 100%;
}

.search-icon {
  margin-left: 6%;
  height: 50%;
  background-color: white;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  border: none;
  text-decoration: none;
  padding: 5px;
  background-color: white;
  margin: 0 30px 0 0;
  height: 50%;
  flex: 40;
  font-size: 16px;
}

.search-bar:focus {
  outline: none;
}

.nav-links {
  display: flex;
  list-style: none;
  flex-basis: 15%;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}

.link {
  flex-basis: 30%;
}

.link img {
  cursor: pointer;
}

.nav-user-data {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-icon {
  height: 47px;
  border-radius: 50%;
  flex-basis: 10%;
  background-color: white;
}

.user-details {
  flex-basis: 75%;
}

.user-details .clickable-text {
  display: inline-block;
  cursor: unset;
}

.user-action {
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}

.clickable-text {
  margin-left: 5px;
  cursor: pointer;
}

.login-text {
  display: none;
}

.login-icon {
  cursor: pointer;
}

/* Nav bar ends*/

/* profile dropdown */
.user-dropdown-container {
  position: relative;
}

.user-profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 150px;
  z-index: 30;
  top: 15px;
  color: #0c0309;
  right: 30px;
  background-color: white;
  width: 250px;
  border-radius: 3px;
  box-shadow: 0px 2px 7px 0px #0c0309;
  padding: 10px;
}

.user-profile-dropdown .log-out-btn {
  height: 35px;
  margin: 0;
}

.user-location {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #cdd4dc;
  margin-bottom: 10px;
}


/* Profile dropdown Ends*/

/* Sub Nav bar*/
.sub-nav {
  height: 9vh;
  background-color: white;
  display: flex;
  align-items: center;
  color: #53432a;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 10vh;
  width: 100%;
}

.sub-nav-item {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease-in;
}

.sub-nav-item:hover {
  transform: scale(1.08);
  color: #EBCC85;
}

.item-small-text {
  display: none;
}

.item-icon,
.item-name {
  cursor: pointer;
}

/* Sub Nav bar ends*/

/* Side Nav*/
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: -20px;
  background-color: white;
  color: #2D021F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  -moz-box-shadow: 2px 0px 15px 2px #0c0309;
  -webkit-box-shadow: 2px 0px 15px 2px #0c0309;
  box-shadow: 2px 0px 15px 2px #0c0309;
  transition: .2s ease-in;
}

.sidenav.open {
  width: 75vw;
  left: 0;
}

.sidenav .head-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  margin-bottom: 0px;
}

.sidenav .header {
  height: 8%;
  display: flex;
  margin: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdd4dc;
  justify-content: flex-start;
  align-items: center;
}

.sidenav .head-img {
  height: 15px;
}

.sidenav .user-icon {
  height: 47px;
  margin: 0px 10px 0px 0px;
}

.sidenav .user-name-block {
  display: flex;
  flex-flow: column wrap;
}

.sidenav .user-name {
  flex: 1;
  font-size: .8em;
}

.sidenav .list-item {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav .list-item:hover {
  color: #2D021F;
}

.sidenav .close-btn {
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: 7px;
  font-size: 28px;
  color: #2d021f57;
}

.focused-item {
  margin: 15px 20px 0px 20px;
  padding: 0px 0px 15px 0px;
  border-bottom: 1px solid #cdd4dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unfocused-item {
  margin: 15px 20px 0px 20px;
  font-size: 13px !important;
}

.sidenav .logout-text {
  flex-basis: 20%;
}

/* sidenav ends*/
/* Main Section */
.main {
  max-width: 1200px;
  margin: 22vh auto 0 auto;
}

/* Main Section end*/

/* Banner */
.banner {
  width: 90%;
  margin: 30px auto;
  height: 23vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a7a2a2;
}

.center-item {
  color: #a7a2a2;
  font-size: 50px;
}

/* Banner ends*/

/* Responsive Rules*/
@media screen and (max-height: 450px) {
  .sidenav .list-item {
    font-size: 10px;
  }

  .nav-bar {
    height: 15vh;
  }

  .sub-nav {
    height: 12vh;
    top: 15vh;
  }

  .main {
    margin-top: 30vh;
  }

}

@media screen and (max-width: 768px) {

  .sm-only {
    display: unset;
  }

  .lg-only {
    display: none;
  }

  .line {
    width: 15px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
  }

  .line:nth-child(2) {
    margin-left: 12.5px;
  }

  .line:nth-child(3) {
    margin-left: 20px;
  }

  .hamburger {
    cursor: pointer;
    display: unset;
  }

  .sub-nav-item:hover {
    transform: scale(1.4);
    color: #EBCC85;
  }

  .logo {
    flex-basis: 35%;
    display: flex;
    align-items: center;
  }

  .nav-links {
    flex-basis: 35%;
    justify-content: space-between;
    margin-left: auto;
  }

  .nav-user-data {
    display: none;
  }

  .clickable-text {
    display: none !important;
  }

  .item-small-text {
    display: unset;
  }

  .main {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .banner {
    height: 18vh;
  }

}

@media (min-width:768px) and (max-width: 1024px) {
  .search-icon {
    flex: 4;
  }

  .logout-icon {
    flex-basis: 7%;
  }

  .profile-action {
    margin-bottom: 30px;
    margin-right: 50%;
  }

  .sidenav {
    display: none;
  }

  .main {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .login-text {
    display: unset;
    flex-basis: 50%;
  }

  .user-details {
    flex-basis: 40%;
  }

  .clickable-text {
    display: none !important;
  }

  .item-small-text {
    display: unset;
  }

  .banner {
    height: 20vh;
  }
}

@media (min-width:1024px) and (max-width: 1280px) {
  .search-icon {
    flex: 3;
  }

  .sidenav {
    display: none;
  }

  .logout-icon {
    flex-basis: 7%;
  }

  .item-name {
    font-size: 13px;
  }

  .profile-action {
    margin-bottom: 30px;
    margin-right: 50%;
  }

  .main {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;

  }

  .banner {
    height: 21vh;
  }
}

@media (min-width:1280px) {
  .sidenav {
    display: none;
  }

  .profile-action {
    margin-bottom: 30px;
    margin-right: 50%;
  }

  .logout-icon {
    flex-basis: 7%;
  }

  .user-details {
    flex-basis: 60%;
  }

}