@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    overflow: hidden;
    background-color: #EAEDF0;
}

.page {
    width: 900px;
    margin: 0 auto;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;
}

.sidebar {
    float: left;
    /* 100% won't work*/
    height: 409px;
    width: 200px;
    background-color: #F09A9D;
}

.content {
    width: 700px;
    float: right;
    background-color: #F5CF8E;
    padding: 20px;
}

.article-image {
    float: left;
    width: 200px;
    height: 190px;
    margin: 20px;
    border: 1px solid;
}

.content p {
    margin: 20px;
}

.footer {
    /* clear: both; */
    background-color: #D6E9FE;
    overflow: hidden;
}

.footer-item {
    float: left;
    width: 31%;
    margin: 20px 1.15%;
    height: 160px;
    background-color: #B2D6FF;
}

.avatar {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #D6E9FE;
    margin: 25px;
}

.username {
    margin-top: 30px;
}

.comment {
    margin: 10px;
    overflow: hidden;
}