.synopsis {
    color: #7E8184;
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}

#button-2 {
    background-color: #D55C5F;
}

.button {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.page {
    width: 600px;
    margin: 0 auto;
}