@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  color: #1a1b1b;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 1400px;
  height: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.example {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 50px 0;
  background-color: #D6E9FE;
}

.absolute {
  position: relative;
}

.item img {
  display: block;
}

.item-relative {
  position: relative;
  top: 30px;
  right: 30px;
}

.item-absolute {
  position: absolute;
  top: 10px;
  left: 10px;
}

.fixed {
  position: relative;
}

.item-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}